/* css for all your writeups here */
body {
  background-color: beige;
  padding: 2em;
  margin: 2em;
}
h1,
p {
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
}
p {
  font-size: 1.5em;
}
h1 {
  background-color: black;
  color: white;
}
